.tab-links li {
   float:left;
  list-style:none;
}

.tab-links a {
  padding:9px 15px;
  background:#7FB5DA;
  color:#4c4c4c;
}

li.active a {
  background:#fff;
}

.tab {
  display:none;
}

.tab.active {
  display:block;
}

.tab-links {
  padding:0;
  margin:0;
  position: absolute;
  bottom:0px;
  left: auto;
}

body {
  height: 100% !important;
  margin:0;
  padding:0;
}